/*SurveyPage styles*/
/*may,11 2021*/
main{margin:0px 0px 5px 3px;
				background:#fff4aa;
				font-size:2vh;
}
#title{
				margin:0px 0px 5px 0px;
					font-family:helvatica;
					text-align:center;
					border:3px solid maroon;
     font-size:7vh;
				background:hsl(106.1,100%,30%);
}
input,select{
height:50px;
width:20vw;
font-size:3vh;
}
textarea{
				height:150px;
				width:300px;
}

